#container {
	margin: auto;
    padding: 1.1em 1.2em 1.1em 1.2em;
}

html {
font-family: 'Open Sans', sans-serif;
}

body {
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: 500;
text-align: left;
color: black;
margin:0;
margin-left: 1em;
margin-left: 1vw;
padding:0;
background-color: #FFF;		
}

h1 {
font-family: 'Roboto Condensed', sans-serif;	
font-size: 1.4em;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 26.4px;
line-height: 2vw;	
}

h2 {
font-family: 'Open Sans', sans-serif;
font-size: 1em;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 1.1em;
line-height: 1.1vw;
margin-left: 0.7em;
margin-left: 0.7vw;
}

p {
font-family: 'Open Sans', sans-serif;
font-size: 1em;
}

img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
  padding: 10px;
}
figure a {
  display: block;
}

.row {
  /*max-width: 800px;*/
  margin: 24px auto;
  padding: 0 30px;
  position: relative;
}

/* clearfix */
.row:after{
  content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.photoswipe-gallery {
  width: 100%;
  height: auto;
  float: left;
}


.photoswipe-gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 12px 12px 0;
  width: 171px;
  line-height: 0;
}


a.photoswipe-gallery__img--main {
  width: auto;
  height: auto;
}

.photoswipe-gallery figure {
  display: none;
}


a { text-decoration: none;
	color: #000;
}
a:hover{text-decoration: underline;
	color: #000;}

a.visible { color: #0577C2; }



/* for iphone only */
@media screen and (max-width: 599px) { 
	.photoswipe-gallery {
	max-width: 500px;
	}
	.photoswipe-gallery a {
	width: 120px;
	margin: 0 4px 4px 0;
	}
	a.photoswipe-gallery__img--main {
	width: 164px;
	}

	h1 {
	font-size: 0.9em;
	font-size: 1.5em;
	line-height: 2em;	
	line-height: 1.3em;
	}

	h2 {
	font-size: 0.8em;
	font-size: 1.2;
	line-height: 1em;
	}

	p {
	font-size: 0.6em;
	font-size: 1em;
	}
}  


/* for-tablet-portrait-up */
@media screen and (min-width: 600px) {  

	.photoswipe-gallery {
	max-width: 500px;
	}
	.photoswipe-gallery a {
	width: 120px;
	margin: 0 4px 4px 0;
	}
	a.photoswipe-gallery__img--main {
	width: 164px;
	}

	h1 {
	font-size: 1em;
	line-height: 2em;	
	line-height: 1.3em;
	}

	h2 {
	font-size: 0.9em;
	line-height: 1em;
	}

	p {
	font-size: 0.8em;
	}


	.row {
	padding: 0 18px;
	}

	#container {
		margin: auto;
	    padding: 0 1em 0 1em;
	    padding: 1.1em 1.2em 1.1em 1.2em;
		min-width: 0;
	}
	  
	


	/* photoswipe */
/*
	.photoswipe-gallery a {
	    width: 95px;
	    margin: 0 1px 1px 0;
	}
	a.photoswipe-gallery__img--main {
	    width: 127px;
	}

*/
}



/*for-tablet-landscape-up */
@media screen and (min-width: 900px) {  

	.photoswipe-gallery {
	max-width: 500px;
	}
	.photoswipe-gallery a {
	width: 120px;
	margin: 0 4px 4px 0;
	}
	a.photoswipe-gallery__img--main {
	width: 164px;
	}

	h1 {
	font-size: 1.1em;
	line-height: 2em;	
	line-height: 1.3em;
	}

	h2 {
	font-size: 1em;
	line-height: 1em;
	}

	p {
	font-size: 0.9em;
	}


}

/* for-desktop-up */
 @media screen and (min-width: 1200px) {
	
	.photoswipe-gallery {
	  width: 100%;
	  height: auto;
	  float: left;
	}

	.photoswipe-gallery a {
	  -webkit-tap-highlight-color: rgba(0,0,0,0);
	  -webkit-touch-callout: none;
	  display: block;
	  float: left;
	  margin: 0 12px 12px 0;
	  width: 171px;
	  line-height: 0;
	}

	a.photoswipe-gallery__img--main {
	  width: auto;
	  height: auto;
	}

	#container {
	margin: auto;
    padding: 0 1.5em 0 1.5em;
    padding: 1.1em 1.2em 1.1em 1.2em;
	min-width: 0;
	}

	h1 {
	font-size: 1.5em;
	line-height: 2em;	
	line-height: 1.3em;
	}

	h2 {
	font-size: 1em;
	line-height: 1em;
	}

	p {
	font-size: 1.1em;
	}
}

/* for-big-desktop-up */ 
 @media screen and (min-width: 1800px) {  

}







		

